body {
  background-color: #cfc199;
  color: #222;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
  color: #378347;
  font-weight: bold;
}

a {
  color: #378347;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #000;
}

.header {
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #378347;
  color: #fff;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar-nav.active {
  display: flex; /* or any other desired property to show the element */
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #f5dd9d;
}

.navbar-toggle {
  cursor: pointer;
  position: absolute;
  z-index: 999;
}

.toggle-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.toggle-icon .line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.toggle-icon.active {
  transform: rotate(90deg);
}

.toggle-icon.active .line {
  background-color: #f5dd9d;
}

/* Media Query for Responsive Navbar */
@media (max-width: 768px) {
  .navbar-nav {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle.active .toggle-icon {
    background-color: #ffffff;
  }

  .navbar-toggle.active + .navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .nav-link {
    padding: 10px;
  }
}

.page-button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #378347;
  cursor: pointer;
}

.page-button.active {
  background-color: #378347;
  color: #fff;
}

/*
addABook form spacing
*/
input {
  margin: 0.2rem;
}
